<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fuelaholdings-002-site4.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>3c7f5168-6e0f-480f-a11c-6ad75eaaabec</ProjectGuid>
    <SelfContained>false</SelfContained>
    <MSDeployServiceURL>https://fuelaholdings-002-site4.itempurl.com:8172/MsDeploy.axd?site=fuelaholdings-002-site4</MSDeployServiceURL>
    <DeployIisAppPath>fuelaholdings-002-site4</DeployIisAppPath>
    <RemoteSitePhysicalPath />
	  <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
	  <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <UserName>fuelaholdings-002</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>